POSTGRES_DB=task_db
POSTGRES_USER=task_user
POSTGRES_PASSWORD=replace-me-with-a-real-password
SECRET_KEY=generate-with-secret.token_urlsafe-50
DEBUG=False
ALLOWED_HOST=codeplatoondemo.link,www.codeplatoondemo.link
DB_HOST=postgres_container