POSTGRES_DB=task_db
POSTGRES_USER=task_user
POSTGRES_PASSWORD=replace-me-with-a-real-password
SECRET_KEY=generate-with-secret.token_urlsafe-50
DEBUG=False
# was missing an S here
ALLOWED_HOSTS=codeplatoondemo.link,www.codeplatoondemo.link
# its a dash i used underscore
DB_HOST=postgres-container
SESSION_COOKIE_SECURE=False
SESSION_COOKIE_HTTPONLY=True
CSRF_COOKIE_SECURE=False
AUTH_COOKIE_SECURE=False
AUTH_COOKIE_SAMESITE=Lax